.
git+https://github.com/zzl-ffzg/reldi-tokeniser.git@v1.0.1
git+https://github.com/zzl-ffzg/jusText.git@v2.2.1
chardet==3.0.4
click==7.1.2
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.5.2
bs4
MarkupSafe==1.1.1
requests==2.24.0
soupsieve==2.0.1
urllib3==1.25.10
Werkzeug==1.0.1
setuptools
wheel
gunicorn
